PORT=4000
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/libase
JWT_SECRET=replace_with_strong_secret_min_32_chars
JWT_REFRESH_SECRET=replace_with_another_strong_secret_min_32_chars
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=development
